<!DOCTYPE html>
<html ng-app="cricLive">
<head>
    <title>CrivLive</title>
    <meta name="author" content="Himanshu Jain https://github.com/himanshu1691">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="index.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-sanitize.js"></script>

    <script src="../js/main.js"></script>
    <script src="../js/controller.js"></script>


    <script type="text/javascript">

    function showBowlers() {
        window.resizeTo( 350,700 );
        jQuery('#bowlers').show(2000);
        document.getElementById("appbody").style.height = "700px";
        document.getElementById("maincontainer").style.height = "700px";
        jQuery('#bowlers_show').toggle('show');
        document.getElementById('bowlers_hide').style.display = "block";
    }
    function hideBowlers() {
        window.resizeTo( 350, 600 );
        jQuery('#bowlers').hide(1);
        document.getElementById("appbody").style.height = "600px";
        document.getElementById("maincontainer").style.height = "600px";
        jQuery('#bowlers_hide').toggle('show');
        jQuery('#bowlers_show').toggle('show');

    }

    function closeWindow()
    {
        window.close();    
    }

    </script>
    

</head>
<body id="appbody">

<div class="container" id="maincontainer" ng-controller="MainController as cric" ng-init="getMatches()">
    <div id="widgetcontrol" style="width:300px">
        <ul class="list-inline pull-right">
         <li><i ng-show="alertToggle" ng-click="alertToggle=false" class="fa fa-volume-up"></i><i ng-hide="alertToggle" ng-click="alertToggle=true" class="fa fa-volume-down"></i></li>         
        <!---- <li><i class="fa fa-toggle-down"></i>   toggle-up alternate on click--></i></li>
         <li><i href="javascript:void(0)"  onclick="closeWindow()" class="fa fa-power-off"></i></li>
       </ul>

    </div>
    </br>
    <div id="matches"  >  
      <select id="matchselect"  style="width:300px;-webkit-app-region: no-drag;" ng-change="getMatchData(selectedMatch)" ng-model="selectedMatch" ng-options="match.id as match.label for match in matches"><option value="">---Please select---</option></select>
    </div>
        
        <img src="../img/bk.png" class="header-img">
        <div class="team team1">
            <p class="team1-name" id="team1-name">{{team1name}}</p>
            <p class="team1-score">{{team1score}}</p>
            
        </div>
        <div class="icc-logo">
            <img src="../img/logo.png" alt="VS">
        </div>
        <div class="team team2">
            <p class="team2-name" id="team2-name">{{team2name}}</p>
            <p class="team2-score" id="team2-score">{{team2score}}</p>
        </div>
        <div class="individual-score">
            <p class="player">
                <span class="player1-name" id="player1-name">{{batsmen1[0]}}&nbsp;</span>:<span class="player1-run" id="player1-run">{{batsmen1[1]}}&nbsp;</span>&nbsp;in&nbsp;<span class="player1-balls" id="player1-balls">{{batsmen1[2]}}&nbsp;</span> balls&nbsp;(&nbsp;<span class="player1-six" id="player1-six">{{batsmen1[4]}}</span>x6,&nbsp;&nbsp;<span class="player1-four" id="player1-four">{{batsmen1[3]}}</span>x4&nbsp;)
            </p>
            <p class="player">
                <span class="player2-name" id="player2-name">{{batsmen2[0]}}&nbsp;</span>:<span class="player2-run" id="player2-run">{{batsmen2[1]}}&nbsp;</span>&nbsp;in&nbsp;<span class="player2-balls" id="player2-balls">{{batsmen2[2]}}&nbsp;</span>balls&nbsp;(&nbsp;<span class="player2-six" id="player2-six">{{batsmen2[4]}}</span>x6,&nbsp;&nbsp;<span class="player2-four" id="player2-four">{{batsmen2[3]}}</span>x4&nbsp;)
            </p>
            
        </div>
        </br>
        <div id="recent_overs" style="width:300px">
            <span class="status">Recent Overs: </span></br>
            <span ng-repeat="over in recentovers">
                <span class="ballsinovers" ng-repeat="ball in over track by $index" ng-bind-html="ball"></span>|
            </span></br>

        </div>
        </br>
        <div id="match_status" style="width:300px">
            <span class="status">Status: </span><span id="innings_status">{{innings_status}}</span></p>
            <i href="javascript:void(0)"  onclick="showBowlers()" class="fa fa-toggle-down" id="bowlers_show"></i>
            <i href="javascript:void(0)"  onclick="hideBowlers()" class="fa fa-toggle-up" style="display:none;" id="bowlers_hide"></i>
            </br>
        </div>
        </br>
        <div id="bowlers" style="display:none">
            <table class="table table-bordered" id="bowler_table">
                <thead>
                    <tr>
                        <td>Bowler</td>
                        <td>Runs</td>
                        <td>Wickets</td>
                        <td>Overs</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="bowler in bowlerStats">
                        <td>{{bowler[0]}}</td>
                        <td>{{bowler[3]}}</td>
                        <td>{{bowler[4]}}</td>
                        <td>{{bowler[1]}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        
    </div>



</body>
</html>